<p class="breadcrumbs">
  <%= link_to("#{@category.category_name}", category_path(@category.id)) %>
  &#8594
  <%= link_to("#{@subcategory.subcategory_name}", subcategory_path(@subcategory.id))%>
</p>

<div class="row">
  <div class="columns small-3">
    <p>Sort by:</p>
  </div>
</div>

<div class="row small-up-1 medium-up-2 large-up-4 grid_position">
  <% @products.each do |f| %>
    <div class="column column-block">
      <%= link_to(product_path(f.id)) do %>
        <div class="card">
          <div class="card-divider">
            <%= truncate("#{f.title}", length: 48) %>
          </div>
            <%= image_tag("#{f.picURL}", class: "cat_pic") %>
            <div class="card-section">
              <p class="description"><%= truncate("#{f.description.html_safe}", length: 140) %></p>
            </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
