<div id="mycart" class="row">
  <div class="small-10 small-centered medium-8 large-8 column text-center">
    <h4>My Cart</h4>
    <p class="mb0"> You've selected <span class="cart-count"><%=current_user.cart_count%></span> products!</p>
  </div>


<div class="row" data-equalizer>
  <div class="small-10 small-centered medium-8 large-8 column text-center">
    <table>
      <tbody>
        <% @cart_products.each do |product|%>
          <tr class="cart_product">
            <td>
            <%=link_to(product) do%>
              <%=image_tag("productImages/#{product.picURL}", class: "thumbnail", size: 75)%>
            <%end%>
            </td>
            <td>
              <p class="">
                <%= product.title %>
              </p>
            </td>
            <td>
              <%=link_to("" , data: {targeturl: remove_from_cart_path(product)}) do %>
                <i class="remove">Remove Product</i>
              <%end%>
            </td>
            <td>
              <h4>$ <%= product.startPrice %></h4>
            </td>
          </tr>
        <%end%>
      </tbody>
    </table>
    <%= link_to "Checkout", new_transactions_path, class: "button" unless current_user.get_cart_products.blank? %>
  </div>
</div>
</div>
