<p class="breadcrumbs"><%= link_to("#{@category.category_name}", category_path(@category.id)) %></p>
<div class="row small-up-1 medium-up-2 large-up-4 grid_position">
  <% @subcategories.each do |f| %>
    <div class="column column-block">
      <div class="card card-category">
        <div class="card-divider card-divider-category">
          <%= link_to("#{f.subcategory_name}", subcategory_path(f.id)) %>
        </div>
        <%= image_tag("subcategory_pic/#{f.subcategory_picture}", class: "cat_pic") %>
        <%= link_to(subcategory_path(f.id)) do %>
          <div class="card-section card-section-category">
            <p class="description"><%= f.subcategory_description %></p>
          </div>
        <% end %>
       </div>
     </div>
   <% end %>
</div>
