<p class="breadcrumbs">
  <%= link_to("#{@category.category_name}", category_path(@category.id)) %>
  &#8594
  <%= link_to("#{@subcategory.subcategory_name}", subcategory_path(@subcategory.id))%>
  &#8594
  <%= link_to("#{@product.title}", product_path(@product))%>
</p>

<!-- need to add light box or expanding image -->
    <div class="row" id="product_row">
      <div class="medium-6 columns">
        <%= image_tag("productImages/#{@product.picURL}", class: "product_main_image") %>
        <!-- make this work when you figure out multiple images -->
        <!-- <div class="row small-up-4">
          <div class="column">
            <img class="thumbnail" src="http://placehold.it/250x200">
          </div>
          <div class="column">
            <img class="thumbnail" src="http://placehold.it/250x200">
          </div>
          <div class="column">
            <img class="thumbnail" src="http://placehold.it/250x200">
          </div>
          <div class="column">
            <img class="thumbnail" src="http://placehold.it/250x200">
          </div>
        </div> -->
      </div>
      <div class="medium-6 large-5 columns">
        <h3><%= @product.title %></h3>
        <table>
          <tbody>
            <tr width="100">
              <td>Condition:</td>
              <td><%= @condition %></td>
            </tr>
            <tr>
              <td>For:</td>
              <td><%= @product.brand %></td>
            </tr>
            <tr>
              <td>Part Number:</td>
              <td><%= @product.manufacturerPartNumber %></td>
            </tr>
            <tr>
              <td>Free Shipping:</td>
              <td><%= @product.manufacturerPartNumber ? "Yes" : "No" %></td>
            </tr>
          </tbody>
        </table>
        <p><%= @product.description %></p>

        <!-- <label>Size
        <select>
          <option value="husker">Small</option>
          <option value="starbuck">Medium</option>
          <option value="hotdog">Large</option>
          <option value="apollo">Yeti</option>
        </select>
        </label> -->

        <div class="row">
          <div class="small-3 columns">
            <label for="middle-label" class="middle">Quantity</label>
          </div>
          <div class="small-9 columns">
            <input type="text" id="middle-label" placeholder="One fish two fish">
          </div>
        </div>

        <%if signed_in?%>
          <%=link_to "", class: "button large expanded", data: {target: @cart_action, addUrl: add_to_cart_path(@product), removeUrl: remove_from_cart_path(@product)} do%>
            <i class="fi-shopping-cart"></i>
            <span><%=@cart_action%></span> Cart
          <%end%>
        <%else%>
          <%= link_to("Sign up or Login to Purchase", new_user_registration_path, class: "button large expanded") %>
        <%end%>
      </div>
    </div>

<hr class="hr_no_margin">
<h3 class="red_header_full_length">Related Products</h3>
<hr class="hr_no_margin">

    <div class="column row" id="product_row_extras">
        <div class="row small-up-2 medium-up-3 large-up-5">
          <% @products.each do |f| %>
            <div class="columns">
              <%= link_to(product_path(f)) do %>
                <%= image_tag("productImages/#{f.picURL}", :class => "thumbnail product_extra_image") %>
              <%end%>
              <h5><%= link_to(f.title, product_path(f)) %></h5>
              <p><%= f.description %></p>
              <!-- <p class="small_price">Only $<%= f.startPrice  %></p> -->
              <%if signed_in?%>
              <!-- would nice to make this so that it shows what one is in the cart. right now it wont say "remove from cart" even if the item is there -->
                <%=link_to "", class: "button hollow tiny expanded", data: {target: @cart_action, addUrl: add_to_cart_path(f), removeUrl: remove_from_cart_path(f)} do%>
                  <i class="fi-shopping-cart"></i>
                  <span><%=@cart_action%></span> Cart
                <%end%>
              <%else%>
                <%= link_to("Sign up or Login to Purchase", new_user_registration_path, class: "button hollow tiny expanded") %>
              <%end%>
            </div>
          <% end %>
        </div>
    </div>
