<div class="row" id="navigation">
  <div class="column small-12">
    <ul class="dropdown menu" data-dropdown-menu>
      <li>
        <%= link_to('Redline Motorcycles', products_path) %>
      </li>
      <li>
        <%= link_to('Motorcycles and Parts', category_path(1)) %>
        <ul class="menu">
            <li>
              <%= link_to('Engine Parts', subcategory_path(1)) %>
            </li>
          <!-- ... -->
        </ul>
      </li>
      <li>
        <%= link_to("ATV/UTV's and Parts", category_path(2)) %>
        <ul class="menu">
          <li>
            <a href="#">Item 1A</a>
          </li>
          <!-- ... -->
        </ul>
      </li>
      <li>
        <%= link_to('Kymco', category_path(3)) %>
        <ul class="menu">
          <li>
            <a href="#">ATV's</a>
          </li>
          <li>
            <a href="#">UTV's</a>
          </li>
          <li>
            <a href="#">Accessories</a>
          </li>
          <!-- ... -->
        </ul>
      </li>
    </ul>
  </div>
</div>
