<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= include_gon %>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true, "vendor/modernizr" => true %>
    <script src="https://js.braintreegateway.com/js/braintree-2.30.0.min.js"></script>
    <%= csrf_meta_tags %>
  </head>

  <body>
      <%= render "layouts/nav" %>

      <% if !flash[:notice].blank? %>
        <div class="success callout" data-closable>
          <%= flash[:notice] %>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <% if !flash[:warning].blank? %>
        <div class="alert callout" data-closable>
          <%= flash[:warning] %>
          <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>
    <div id="content_wrapper">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
